<ion-header>

    <ion-navbar>
        <ion-title>Cadastro</ion-title>
      </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]='formGroup'>
       
    <ion-list>
        <ion-item>
          <ion-label floating>Usuário</ion-label>
          <ion-input formControlName="usuario" type="text"></ion-input>
        </ion-item>

        <p *ngIf="formGroup.controls.usuario.errors && formGroup.controls.usuario.dirty" margin-left>*Seu usuário deve conter de 5 a 20 dígitos</p>

        <ion-item>
            <ion-label floating>E-mail</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>

        <p *ngIf="formGroup.controls.email.errors && formGroup.controls.email.dirty" margin-left>*Digite um e-mail válido.</p>
        
        <ion-item>
            <ion-label floating>Senha</ion-label>
            <ion-input formControlName="senha" type="password"></ion-input>
        </ion-item>        

        <p *ngIf="formGroup.controls.senha.errors && formGroup.controls.senha.dirty" margin-left>*Digite uma senha com 5 a 18 caracteres.</p>

          <button ion-button full style="margin-top: 30px;" (click)="cadastrar()">Cadastrar</button>

      </ion-list>
      </form>
</ion-content>
